<html>
    <%- include('./common/header.ejs') %>

    <body>
        <%- include('./common/navbar.ejs') %> 
        <div class="about">
            <h2>About me</h2>
            <p>This is a simple blogs project. You can add blogs and read them!</p>
        </div>
    </body>
</html>