<html>
    <%- include('./common/header.ejs') %>
    
    <body>
        <%- include('./common/navbar.ejs') %> 
        <div class="blog">
            <h2><%= blog.title %></h2>
            <p><%= blog.body%></p>
        </div>
    </body>

</html>
