<nav class="navbar">
    <div class="navbar__title">
        <h1>Blogs</h1>
        <p>By Aleko Kvashilava</p>
    </div>
 
    <ul>
        <li><a href="/">All Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/addblog">Add Blog</a></li>
    </ul>
</nav>